---
layout: default
title: Source Repository
---

#right-sidebar
  #main-column
    :markdown
      SteamCannon is an open-source project licensed under the [LGPL].

      [lgpl]: /license-lgpl.txt

      The source repositories are hosted on GitHub. The `steamcannon`
      repository contains the main application and `steamcannon-agent`
      contains our agent that runs on each instance managed by SteamCannon.

      ### steamcannon

      * <http://github.com/steamcannon/steamcannon>
      * `git://github.com/steamcannon/steamcannon.git`

      ### steamcannon-agent

      * <http://github.com/steamcannon/steamcannon-agent>
      * `git://github.com/steamcannon/steamcannon-agent.git`

  #sidebar-column
    #latest-git
      %h1 Latest Commits
      = rss_widget('git_activity', 'http://github.com/steamcannon/steamcannon/commits/master.atom', :limit => 8, :header => false, :content => false, :date => false)
