---
layout: default
title: Community
---

#right-sidebar
  #main-column
    :markdown
      SteamCannon is an open-source project so we make it easy to ask
      questions or contribute.

      ## JBoss Community Portal

      In our JBoss Community Portal anyone with a JBoss Community account
      can contribute articles or start a discussion about SteamCannon.
      
      * <http://community.jboss.org/en/steamcannon>

      ## Issue Tracker
      
      We use JIRA to track bugs and feature requests. To submit a bug or
      feature request or to comment on an existing issue, you'll first
      need to [signup][jboss_signup] for a JBoss Community account.

      [jboss_signup]: https://community.jboss.org/login.jspa

      * [https://jira.jboss.org/browse/STEAM](https://jira.jboss.org/browse/STEAM)

      ## IRC

      The developers and users of SteamCannon hang out on the `#steamcannon`
      channel on FreeNode.

      * [irc://irc.freenode.net/steamcannon](irc://irc.freenode.net/steamcannon)

  #sidebar-column
    :markdown
      * [Signup][jboss_signup] for a JBoss Community account.

      [jboss_signup]: https://community.jboss.org/login.jspa
