---
layout: default
title: Download
---

#download-table
  %table.downloads
    %tr
      %th Version
      %th Amazon AMIs
      %th Binary Distribution
      %th Changelog
      %th Git Tree
    - site.releases.each do |release|
      %tr
        %td
          .version
            = release.version
          - announcement = announcement_for_version(release.version)
          - if announcement
            .announcement
              %a{:href => announcement.url} Release announcement
            .release-date
              = announcement.date.strftime("%d %b %Y")
        %td
          %ul
            - release.amis.each do |ami|
              %li
                == #{ami.ami_id} (#{ami.region})

        %td
          %ul
            %li
              %a{:href => release.urls.dist.vmware} VMware Appliance
            %li
              %a{:href => release.urls.dist.zip} Zip Archive
        %td
          %ul
            %li
              %a{:href => release.urls.jira} JIRA Issues
            %li
              %a{:href => release.urls.github.log} Git Log
        %td
          %a{:href => release.urls.github.tree} Browse
