---
title: Home
layout: default
inhibit_title: true
---

#custom-front-page
  %h1 What is SteamCannon?
  #top-row
    #what-is-steamcannon

      %p
        SteamCannon is the cloud-aware PaaS broker that sits
        between you and a stack of IaaS resources, such as Amazon EC2.
  
      %p
        SteamCannon helps stand up individual PaaS environments
        to match your own needs and workflows.  With a few simple clicks,
        you can configure a new Java or Ruby platform, and deploy your
        applications to it.

      %img{:src=>'/images/tryfront.png'}
    #latest-release
      .box
        %h2 SteamCannon now available!
  
        %p
          The first beta release of SteamCannon is now available.
  
        %p 
          The project is open-source, and source is available.  Additionally,
          this release includes downloading virtual machines, an AMI registered
          at EC2, and a hosted service.

        %h3 Announcements
        %h4 29 October 2010
  
        %ul
          %li
            %a{:href=>'/news/2010/10/29/steamcannon-1-0-0-beta1/'} 1.0.0.Beta1 Release
          %li
            %a{:href=>'/news/2010/10/29/announcing-try-steamcannon-org/'} Hosted SteamCannon-as-a-Service 
    %div{:style=>'clear:both;'}
  #bottom-row
    #getting-started
      %h2 Getting Started
      %ul
        %li
          %a{:href=>'/documentation/installation/launching_appliance/'}
            Launch the SteamCannon appliance at EC2
        %li
          %a{:href=>'/documentation/getting_started/deploying_first_app/'}
            Deploy your first application
      %h2 Try SteamCannon!

      %p
        To make it even easier to use SteamCannon, we are maintaining
        an instance at <a href="https://try.steamcannon.org/">try.steamcannon.org</a>.

      %p
        Currently, registration is limited, but you may request an invitation.
        Invitations are being sent out continuously.
    #recent-news
      %h2 Recent news
      - unofficial_posts = site.posts.reject{|e|e.official}
      - for post in unofficial_posts[0,4]
        .post
          .title
            %a{:href=>post.url}
              = post.title
          .abstract
            #{post.content.gsub( /<[^>]+>/, '' ).split( ' ' )[0,30].join( ' ' )}...
          .link
            %a{:href=>post.url}
              Read more
