---
title: Home
layout: default
inhibit_title: true
---

#custom-front-page
  #top-row
    #what-is-steamcannon
      %h1 What is SteamCannon?

      %p
        SteamCannon is the cloud-aware PaaS broker that sits
        between you and a stack of IaaS resources, such as Amazon EC2.
  
      %p
        SteamCannon helps stand up individual PaaS environments
        to match your own needs and workflows.  With a few simple clicks,
        you can configure a new Java or Ruby platform, and deploy your
        applications to it.

      %img{:src=>'/images/tryfront.png'}
    #latest-release
      %h2 First beta available now!

      %p
        The first beta release of SteamCannon is now available.

      %p 
        The project is open-source, and source is available.  Additionally,
        this release includes downloading virtual machines, an AMI registered
        at EC2, and a hosted service.

      %ul
        %li
          %a{:href=>''} General release announcement
        %li
          %a{:href=>''} Hosted try.steamcannon.org announcement
    %div{:style=>'clear:both;'}
  #bottom-row
    #getting-started
      %h2 Getting Started
      %ul
        %li
          %a{:href=>'/documentation/installation/launching_appliance/'}
            Launch the SteamCannon appliance at EC2
        %li
          %a{:href=>'/documentation/getting_started/deploying_first_app/'}
            Deploy your first application
    #try-steamcannon
      %h2 Try SteamCannon!

      %p
        To make it even easier to use SteamCannon, we are maintaining
        an instance at <a href="https://try.steamcannon.org/">try.steamcannon.org</a>.

      %p
        Currently, registration is limited, but you may request an invitation.
        Invitations are being sent out continuously.

    #recent-news
      %h2 Recent news
