---
title: Home
layout: default
inhibit_title: true
---

#custom-front-page
  %h1 What is SteamCannon?
  #top-row
    #what-is-steamcannon

      %p
        SteamCannon is the cloud-aware PaaS broker that sits
        between you and a stack of IaaS resources, such as Amazon EC2.
  
      %p
        SteamCannon helps stand up individual PaaS environments
        to match your own needs and workflows.  With a few simple clicks,
        you can configure a new Java or Ruby platform, and deploy your
        applications to it.

      %img{:src=>'/images/tryfront.png'}
    #latest-release
      .box
        %h2 SteamCannon now available!
  
        %p
          The first beta release of SteamCannon is now available.
  
        %p 
          The project is open-source with source available on GitHub.  Additionally,
          this release includes downloadable virtual machines, an AMI registered
          at EC2, and a hosted service.

        %h3 Announcements
        %h4 29 October 2010
  
        %ul
          %li
            %a{:href=>'/news/2010/10/29/steamcannon-1-0-0-beta1/'} 1.0.0.Beta1 Release
          %li
            %a{:href=>'/news/2010/10/29/hosted-steamcannon-as-a-service/'} Hosted SteamCannon-as-a-Service 
    %div{:style=>'clear:both;'}
  #bottom-row
    #getting-started
      %h2 Getting Started
      %ul
        %li
          %a{:href=>'/documentation/getting_started/launching_appliance/'}
            Launch the SteamCannon appliance at EC2
        %li
          %a{:href=>'/documentation/getting_started/deploying_first_app/'}
            Deploy your first application
      %h2 Try SteamCannon!

      %p
        To make it even easier to use SteamCannon, we are maintaining
        an instance at <a href="https://try.steamcannon.org/">try.steamcannon.org</a>.

      %p
        Currently, registration is limited, but you may request an invitation.
        Invitations are being sent out continuously.

      %h2 Send us feedback

      %p
        There's several ways to get in touch with the team behind SteamCannon.
        For general questions in setting up your own SteamCannon, or advice
        on using any flavor of SteamCannon, we highly recommend  the user mailing
        list.  For real-time assistance, IRC is your best bet.  For general bugs
        and feature requests, please use JIRA.

      %ul 
        %li 
          %a{:href=>'/community/mailing_lists/'}
            The <b>user</b> mailing list
        %li 
          %a{:href=>'irc://irc.freenode.net/steamcannon'}
            IRC (real-time live chat)
        %li 
          %a{:href=>'https://jira.jboss.org/browse/STEAM#selectedTab=com.atlassian.jira.plugin.system.project%3Aroadmap-panel'}
            JIRA (bug reports, feature requests)

    #recent-news
      %h2 Recent news
      - unofficial_posts = site.posts.reject{|e|e.official}
      - for post in unofficial_posts[0,5]
        .post
          .title
            %a{:href=>post.url}
              = post.title
          .abstract
            #{post.content.gsub( /<[^>]+>/, '' ).split( ' ' )[0,30].join( ' ' )}...
          .link
            %a{:href=>post.url}
              Read more
  #partners
    %table
      %tr
        %td
          %a{:href=>'http://jboss.org/jbossas/'}
            %img.jboss{:src=>'/images/jboss.png'}
        %td
          %a{:href=>'http://www.jboss.org/boxgrinder.html'}
            %img.boxgrinder{:src=>'/images/boxgrinder.png'}
        %td
          %a{:href=>'http://torquebox.org'}
            %img.torquebox{:src=>'/images/torquebox.png'}
        %td
          %a{:href=>'http://rubyonrails.org/'}
            %img.rails{:src=>'/images/rails.png'}
