---
layout: default
title: License
---

#right-sidebar
  #main-column
    :markdown
      ## Copyright

      The *SteamCannon* software is copyright 2010 by Red Hat, Inc.

      ## Software License

      SteamCannon is a community-driven open-source project. It's lead
      developers are employed by Red Hat, Inc and the project is licensed
      under the GNU LGPL.

      ## Trademarks

      The *SteamCannon* name, logo, and other marks are trademarks of
      Red Hat, Inc. and may not be used without prior written permission.

  #sidebar-column
    :markdown
      * [GNU Lesser General Public License](/license-lgpl.txt)
