---
layout: default
title: Source Repository
---

#right-sidebar
  #main-column
    :markdown
      SteamCannon is an open-source project licensed under the [LGPL].

      [lgpl]: /license-lgpl.txt

      The source repositories are hosted on GitHub. The `steamcannon`
      repository contains the main application and `steamcannon-agent`
      contains our agent that runs on each instance managed by SteamCannon.

  #sidebar-column
    .box
      :markdown
        Browse the SteamCannon Git repositories with your web browser:

        * <http://github.com/steamcannon/steamcannon>
        * <http://github.com/steamcannon/steamcannon-agent>

        Clone the repositories using these URL:

        * `git://github.com/steamcannon/steamcannon.git`
        * `git://github.com/steamcannon/steamcannon-agent.git`
