---
layout: default
title: The SteamCannon Team
---

#two-column
  #left-column
    .bio
      %h2 Tobias Crawley
      .avatar
        %img{:src => 'http://www.gravatar.com/avatar/65574978201779e7de505767f2d49bef?s=100'}

    .bio
      %h2 Marek Goldmann
      .avatar
        %img{:src => 'http://www.gravatar.com/avatar/e00cc70beb20a4a77809fd95b6f75ff2?s=100'}

    .bio
      %h2 Ben Browning
      .avatar
        %img{:src => 'http://www.gravatar.com/avatar/c50f64db555a0683af8db718f20d2cd4?s=100'}
      .contact
        %ul
          %li
            .label Twitter
            %a{:href => 'http://twitter.com/bbrowning'}@bbrowning
          %li
            .label GitHub
            %a{:href => 'http://github.comf/bbrowning'}bbrowning
          %li
            .label FreeNode
            bbrowning
  #right-column
    .bio
      %h2 Jim Crossley
      .avatar
        %img{:src => 'http://www.gravatar.com/avatar/9fb46832225939e0a0e62c4f610e0a75?s=100'}

    .bio
      %h2 Bob McWhirter
      .avatar
        %img{:src => 'http://www.gravatar.com/avatar/917f03fcd3908c67113bad5a20baf1f6?s=100'}
