---
title: Hosted SteamCannon
layout: default
---


#right-sidebar
  #main-column

    %h2 
      Just register, and use.
    
    %p 
      To make it even easier to try out SteamCannon, the team has
      propped up an instance of SteamCannon, right on EC2.
    
    %p
      You bring your own Amazon AWS credentials, and you can immediately
      start using it to stand up PaaS environments on Amazon for your own
      private usage.

    %h2
      Request an invitation

    %p
      Hey, this is beta software, and we're pretty new at hosting it,
      so we want to make sure we can scale, so we'll be continuously
      inviting new people in.

    %p
      To request your invitation,
      %a{:href=>'https://try.steamcannon.org/account_requests/new'}
        simply request one.

    %h2
      Until then...

    %p
      It is still pretty easy to just 
      %a{:href=>'/documentation/getting_started/launching_appliance/'}boot up the SteamCannon AMI on your own,
      or run one of 
      %a{:href=>'/download/'} our virtual machines
      locally under VirtualBox, VMware, etc.

  #sidebar-column
    %img{:src=>'/_steps/deploying_first_app/cloud_credentials.png', :style=>'width: 300px; border: 2px solid #999;'}

  
