
#try-links
  .title
    %a{:href=>'/try'}
      <i>Hosted</i> SteamCannon
  .headline
    %a{:href=>'http://try.steamcannon.org/'}
      Login 
    or 
    %a{:href=>'https://try.steamcannon.org/account_requests/new'}
      Request an invitation
