---
layout: documentation
title: Amazon EC2 AMI
sections:
  - Documentation
  - Getting Started
steps:
  - login_to_aws.md
  - select_ami.md
  - instance_type.md
  - other_instance_details.md
  - choose_key_pair.md
  - create_security_group.md
  - launch_instance.md
  - open_security_group.md
  - test_app.md
---

%div
  = steps(:template => 'template.html.haml', :path_prefix => 'launching_appliance', :steps => page.steps)
