---
title: Mailing Lists
layout: default
section: Community
---
#two-column
  #left-column
    :markdown
      User List - steamcannon-user@steamcannon.org
      ============================================
  
      The user list is where most discussions occur. The focus of the
      user list is issues & suggestions related to the use of
      SteamCannon. If you think you've found a bug, the user list is
      an excellent place to start. The community can help determine if
      you're having a simple usage issue, or have found a true defect.
      
      The developers of the SteamCannon project participate on the user list regularly.
      
      To subscribe to the user list, send an email (no subject or body is required) to:
      
          steamcannon-user-subscribe@steamcannon.org
      
      You will receive a confirmation email from the system. You must
      reply to this confirmation email in order to complete your
      subscription.
      
      To unsubscribe from the user list, send an email (no subject or body is required) to:
      
          steamcannon-user-unsubscribe@steamcannon.org
      
      You will receive a confirmation email from the system. You must
      reply to this confirmation email in order to complete the
      unsubscription.

      Archives
      --------

      [Nabble](http://steamcannon-users.972698.n3.nabble.com/)

  #right-column
    :markdown
  
      Developer List - steamcannon-dev@steamcannon.org
      ================================================
  
      The developer list is where the developers discuss internal designs, 
      choices and complexity. If you are interested in the inner workings 
      and how they are built, the developer list is an excellent resource.
      
      Since the developers also participate on the user list, there is no 
      need to initiate bug reports on the developer list. The developers will 
      escalate true defects to the developer list to determine the proper course of action.
        
      To subscribe to the developer list, send an email (no subject or body is required) to:
    
          steamcannon-dev-subscribe@steamcannon.org
    
      You will receive a confirmation email from the system. You must
      reply to this confirmation email in order to complete your
      subscription.
    
      To unsubscribe from the developer list, send an email (no subject or body is required) to:
      
          steamcannon-dev-unsubscribe@steamcannon.org
      
      You will receive a confirmation email from the system. You must
      reply to this confirmation email in order to complete the
      unsubscription.

      Archives
      --------

      [Nabble](http://steamcannon-developers.972697.n3.nabble.com/)
