
@import 'blueprint';

#custom-front-page {
  ul {
    list-style-type: square;
    padding-left: 1.5em;
  }

  h1 {
    font-size: 280%;
    font-weight: bold;
  }

  h2 {
    font-size: 160%;
    font-weight: bold;
    color: #444;
  }

  #top-row {
    padding-bottom: 4em;
    p {
      font-size: 120%;
      line-height: 1.4em;
      margin-bottom: 1.4em;
    }
    #what-is-steamcannon {
      @include column(15);
      @include append(1);


      img {
        display: block;
        width: 500px;
        margin: auto;
      }
    }
    #latest-release {
      @include column(8);
      @include last();

    }
  }
 
  #bottom-row {
    #getting-started {
      @include column(10);
      @include append(2);
    }

    #recent-news {
      @include prepend(2);
      @include column(10);
      @include last();
      .post {
        font-size: 90%;
        padding-bottom: 1ex;
        .title {
          font-weight: bold;
          margin-bottom: .5ex;
        }
        .abstract {
          line-height: 1.2em;
        }
        .link {
          text-align: right;
        }
      }
    }
  }
}
