---
layout: default
title: 'Installation : Amazon EC2 AMI'
section: Documentation
steps:
  - login_to_aws.md
  - select_ami.md
  - launch_instance.md
  - open_security_group.md
  - copy_public_dns.md
  - test_app.md
---

%div
  = steps(:template => 'template.html.haml', :path_prefix => 'launching_appliance', :steps => page.steps)
